#include <winver.h>
#include "version.rc"

IDI_AESCRYPT_LOCK ICON "aescrypt_lock.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_FILEVERSION
 PRODUCTVERSION VER_PRODUCTVERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "Comments", "AES Crypt - Advanced File Encryption for Windows"
            VALUE "CompanyName", "Terrapane Corporation"
            VALUE "FileDescription", "AES Crypt Command Line Tool"
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", "aescrypt.exe"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "aescrypt.exe"
            VALUE "ProductName", "AES Crypt"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
